<style>
    .image-list-container {
        display: grid;
        gap: 8px;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat({{ section.settings.img-per-row }}, 1fr);
    }

    .image-list-container .img-container img {
        width: 100%;
    }

</style>

<div class="image-list-container">
    {% for block in section.blocks %}
        <div class="img-container" {% if block.settings.full_width %}style="grid-column: span {{ section.settings.img-per-row }};"{% endif %}style="grid-column: span calc({{ section.settings.img-per-row }} - 1);"{% if block.settings.60-per-width %}{% endif %}>
            <img src="{{ block.settings.image |  image_url }}" width="" height="auto" alt="{{ block.settings.image-alt }}">
        </div>
    {% endfor %}
</div>

{% schema %}
  {
    "name": "Image list",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "range",
            "id": "img-per-row",
            "min": 0,
            "max": 5,
            "step": 1,
            "label": "Images to show per row",
            "default": 3
        }
    ],
    "blocks": [
        {
            "type": "image_picker",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "image-alt",
                    "label": "Image alt"
                },
                {
                    "type": "checkbox",
                    "id": "full_width",
                    "label": "Full width"
                },
                {
                    "type": "checkbox",
                    "id": "60-per-width",
                    "label": "60% percent width"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Image list"
      }
    ]
  }
{% endschema %}