<style>
    .image-list-container {
        display: grid;
        gap: 8px;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat({{ section.settings.img-per-row }}, 1fr);
    }

    .image-list-container .img-container img {
        width: 100%;
    }

    @media (max-width: 600px) {
        .image-list-container .img-container {
            /* Important is necessary */
            grid-column: span {{ section.settings.img-per-row }} !important;
            width: 100vw !important;
        }
        .not-on-mobile {
            display: none;
        }
    }

</style>

<div class="image-list-container">
    
    {% for block in section.blocks %}
        {% assign styles = "" %}
        {% if block.settings.container-width != -1 %}
            {% assign styles = styles | append: "width: " | append: block.settings.container-width | append: "vw;" %}
        {% endif %}
        {% if block.settings.full_width %}
            {% assign styles = styles | append: "grid-column: span " | append: section.settings.img-per-row | append: ";" %}
        {% endif %}
        {% if block.settings.more-width %}
            {% assign styles = styles | append: "grid-column: span calc(" | append: section.settings.img-per-row | append: " - 1);" %}
        {% endif %}

    <div class="img-container {% if block.settings.not-on-mobile %}not-on-mobile{% endif %}" style="{{ styles }}">
            <img src="{{ block.settings.image |  image_url }}" width="" height="auto" alt="{{ block.settings.image-alt }}">
        </div>
    {% endfor %}
</div>

{% schema %}
  {
    "name": "Image list",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "range",
            "id": "img-per-row",
            "min": 0,
            "max": 5,
            "step": 1,
            "label": "Images to show per row",
            "default": 3
        }
    ],
    "blocks": [
        {
            "type": "image_picker",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "image-alt",
                    "label": "Image alt"
                },
                {
                    "type": "checkbox",
                    "id": "full_width",
                    "label": "Full width"
                },
                {
                    "type": "checkbox",
                    "id": "more-width",
                    "label": "60% percent width"
                },
                {
                    "type": "number",
                    "id": "container-width",
                    "label": "Container width",
                    "default": -1
                },
                {
                    "type": "checkbox",
                    "id": "not-on-mobile",
                    "label": "Don't show on small mobile",
                    "default": false
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Image list"
      }
    ]
  }
{% endschema %}