{% layout none %}
{{ 'comparison.css' | asset_url | stylesheet_tag }}

<div class="info-banner-container">

  {% assign logo_image = section.settings.logo %}
  {% if logo_image != blank %}
    <img
      width="200"
      height="auto"
      class="info-logo"
      src="{{ logo_image | image_url }}"
      alt="shopify logo">
  {% else %}
    <img
      width="200"
      height="auto"
      class="info-logo"
      src="{{ "shopify-logo.png" | asset_url }}"
      alt="shopify logo">
  {% endif %}

  {% assign heading_text = section.settings.heading %}
  {% assign description_text = section.settings.description %}

  <h1 class="info-heading">{{ heading_text | default: 'Shopify vs Woocommerce Cost' }}</h1>

  {% if description_text != blank %}
    <p class="info-desc">{{ description_text }}</p>
  {% else %}
    <p class="info-desc">Total Cost of Ownership (TCO) is used by enterprises to assess the direct and indirect costs incurred with a given purchase or platform. Comparing WooCommerce and Shopify for your ecommerce needs, we have found that costs are 57% higher on WooCommerce than on Shopify.</p>
  {% endif %}

  <h1 class="info-heading">Shopify vs. Adobe Commerce TCO comparison*</h1>
  <p class="info-desc">New research from a leading independent consulting firm found that costs are 41% higher on Adobe Commerce (Magento) than on Shopify, on average. This, combined with the fact that Shopify’s checkout converts 5% better than Adobe, paints a clear picture—it not only pays to be on Shopify, it costs you if you’re not.</p>
  <p class="info-bottom-text">*According to research commissioned by Shopify from a leading independent consulting firm to study TCO across major platforms in North Americaunderstand Shopify’s relative positioning based on objective research methods.</p>
</div>

{% schema %}
  {
    "name": "Info Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }, {
        "type": "text",
        "id": "description",
        "label": "Description"
      }
    ],
    "presets": [
      {
        "name": "Info Banner"
      }
    ]
  }
{% endschema %}