<style>

  .section-container {
    padding: {{ section.settings.padding-vertical }}rem 10rem;
    max-width: 98vw;
    width: 98vw;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 28px;
  }

  .logo-container .logo img {
    width: 65%;
  }

  
  .logo-container .logo {
    flex: 0 0 calc(100% / {{ section.settings.logos-per-row }} - 28px * ({{ section.settings.logos-per-row }} - 1) / 2);
  }

  @media screen and (max-width: 1000px) {
    .logo-container .logo img {
      width: 80%;
    }
  }

  @media screen and (max-width: 650px) {
    .logo-container .logo img {
      width: 80%;
    }
    .logo-container .logo {
      flex: 0 0 calc(100% / 2 - 28px * 1 / 2);
    }
  }

  @media screen and (max-width: 800px) {
    .section-container {
      padding: 2rem;
    }
  }

</style>

<div class="section-container">
  <h1>{{ section.settings.heading }}</h1>

  <div class="logo-container">
    {% for block in section.blocks %}
      <div class="logo">
        <img
          src="{{ block.settings.logo | image_url }}"
          width="140"
          height="auto"
          alt="logo">
      </div>
    {% endfor %}
  </div>

</div>

{% schema %}
  {
    "name": "Logo section",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Heading",
        "label": "Heading"
      }, {
        "type": "number",
        "id": "logos-per-row",
        "label": "Number of Logos per row",
        "default": 5
      }, 
      {
        "type": "number",
        "id": "padding-vertical",
        "label": "Vertical padding",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "image_picker",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo section"
      }
    ]
  }
{% endschema %}