{{ 'collage.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-modal-video.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient isolate">

  <div class="text-collage-container">
    <div class="text-collage-left-image">
      {% if section.settings.left-image %}
        <img src="{{ section.settings.left-image | image_url }}" width="100" height="auto" alt="">
      {% else %}
        <img src="{{ "text-collage.png" | asset_img_url }}" width="100" height="auto" alt="">
      {% endif %}
    </div>
    <div class="text-collage-right-content">
      <div class="text-collage-heading">
        <p id="heading-text"></p>
      </div>
      <div class="texts">
        <p id="first-text"></p>
        <p id="second-text"></p>
        <p id="third-text"></p>
        <p id="fourth-text"></p>
      </div>
    </div>
  </div>

  <div style="background-color: yellow; width: 30px; height: 30px"></div>
  <div style="background-color: yellow; width: 30px; height: 30px"></div>
  <div style="background-color: yellow; width: 30px; height: 30px"></div>
  <div style="background-color: yellow; width: 30px; height: 30px"></div>
  <div style="background-color: yellow; width: 30px; height: 30px"></div>
{% comment %} {% if section.settings["left-image"] != blank %}
          
        {% endif %}
        {% if section.settings["heading-text"] != blank %}
  
        {% endif %}
        {% if section.settings["first-text"] != blank %}
  
        {% endif %}
        {% if section.settings["second-text"] != blank %}
  
        {% endif %}
        {% if section.settings["third-text"] != blank %}
  
        {% endif %}
        {% if section.settings["fourth-text"] != blank %}
  
      {% endif %} {% endcomment %}
</div>

{% schema %}
  {
    "name": "Text Collage",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info",
        "default": "scheme-1"
      },
      {
        "type": "image_picker",
        "id": "left-image",
        "label": "Left Image"
      },
      {
        "type": "text",
        "id": "heading-text",
        "label": "Heading Text"
      },
      {
        "type": "text",
        "id": "first-text",
        "label": "First Text"
      }, {
        "type": "text",
        "id": "second-text",
        "label": "Second Text"
      }, {
        "type": "text",
        "id": "third-text",
        "label": "Third Text"
      }, {
        "type": "text",
        "id": "fourth-text",
        "label": "Fourth Text"
      }
    ],
    "presets": [
      {
        "name": "Text Collage"
      }
    ]
  }
{% endschema %}