{{ 'comparison.css' | asset_url | stylesheet_tag }}

<div class="topic-item-container">

  <div class="left-section">
    <h3>{{ section.settings.left-heading }}</h3>
    <p>{{ section.settings.left-content }}</p>
  </div>

  <div class="right-section">
    <div>
      {% for block in section.blocks %}
        <p class="percentage"></p>
        <p>
          {{ block.content }}
        </p>
      {% endfor %}
    </div>
    <div>
      <h3>{{ section.settings.right-heading }}</h3>
      <p>{{ section.settings.right-content }}</p>
    </div>
    {% if section.settings.button-text != blank %}
      <a href="{{ section.settings.button-link }}">{{ section.settings.button-text }}</a>
    {% endif %}
  </div>

</div>

{% schema %}
  {
    "name": "Topic Item",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "left-heading",
        "label": "Left heading"
      },
      {
        "type": "textarea",
        "id": "left-content",
        "label": "Left content"
      },
      {
        "type": "text",
        "id": "right-heading",
        "label": "Right heading"
      },
      {
        "type": "textarea",
        "id": "right-content",
        "label": "Right content"
      }, {
        "type": "text",
        "id": "button-text",
        "label": "Button Text",
        "default": "Read More"
      }, {
        "type": "url",
        "id": "button-link",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Percentage Block",
        "settings": [
          {
            "type": "text",
            "id": "percentage",
            "label": "Percentage"
          }, {
            "type": "text",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Topic Item"
      }
    ]
  }
{% endschema %}